/*Section body style*/
body{
    margin: 50px;
    display: flex;
    justify-content: center;
    background: rgb(245, 244, 243);
}

/*Section container style*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Section image style*/
img{
    width: 80px;
    height: 80px;
}

/*Section bouton style*/
button{
    color: blueviolet;
    border-color: rgb(245, 244, 243);
    border-radius: 6px;
    outline: none;
}

/*Section p style*/
p{
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
}

/*Section span style pour les scores*/
#playerScore{
    color: rgb(247, 3, 154);
}

#computerScore{
    color: rgb(13, 195, 232);
}

h1{
    font-family: monospace;
    font-weight: bold;
    font-size: 40px;
}